.board-tasks {
    cursor: pointer;
    display: flex;
    align-items: first baseline;
    padding: 0.5%;
    margin-left: 12%;
    justify-content:space-between;
    width: 1000px;
    height: 500px;
    background-color: rgb(36, 143, 250);
    overflow: hidden;
}

.card-tasks {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 33%;
    background-color: rgb(225, 225, 225);
    box-sizing: border-box;
    border-radius: 3px;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 800;
    margin: 5px 0 5px 10px;
    color: rgba(0, 0, 0, 0.735);
}

.tasks {
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(118, 101, 101);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.task {
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    word-wrap: break-word;
}

p {
    margin: 2px 16px 2px 0;
    pointer-events: none;
}

.description-card {
    min-width: 97%;
    max-width: 97%;
    min-height: 50px;
    resize: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(118, 101, 101);
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    background-color: white;
}

.description-card:focus {
    outline: none;
}

.another {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 100;
}

.another:hover {
    text-decoration: underline;
}

.add-card {
    color: gray;
}

.add-button-container {
    position: relative;
}

.add-button {
    width: 28%;
    height: 30px;
    color: white;
    background-color: rgb(71, 152, 71);
    border-color: rgb(71, 152, 71);
    border-radius: 5px;
}

.close-description {
    position: absolute;
    background-image: url(../img/1544641784.svg);
    top: 84px;
    left: 110px;
    width: 16px;
    height: 16px;
    
}

.close-task {
    position: absolute;
    display: none;
    background-image: url(../img/1544641784.svg);
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
}

.unvisible {
    display: none;
}

/* .dragged {
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(118, 101, 101);
    list-style: none;
    width: 304px;
    pointer-events: none;
    z-index: 999;
} */
